*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(images/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: brown;
    width: 500px;
    height: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
}
.box button{
    padding: 5px;
    color: white;
    background-color: rgb(46, 182, 46);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.box button:hover{
    background-color: green;
}
